# Ignorar dependencias pesadas
node_modules/
.next/

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/development.log
.next/dev/
.next/cache/
.next/server/

# Ignorar archivos del sistema
.DS_Store

# Ignorar compilaciones
dist/
build/
